html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-weight: bold;
  }
  .headerHome {
    background: url("https://images.unsplash.com/photo-1614375879721-b6319a681586?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size:cover;
    height: 900px;
  }
  .headerAbout {
    background: url(https://images.unsplash.com/photo-1519446183880-73cdeae87cef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80) center center;
    background-size: cover;
    height: 970px; 

  }
  .jumbotronWork {
    background: url(https://images.unsplash.com/photo-1516302454183-292c55392321?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) center center;
    background-size: cover;
    height: 300px; 
  }
  *{
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
}
.primaryColor{
    color: #dffcf4;

}
.secondaryColor{
    color: rgb(252, 150, 67);
}
.primaryBgColor{
    background: #ebfaf6;
}
.textColor{
    color: #10a6cc;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-25{
    font-size: 25px;
}
.font-30{
    font-size: 30px;
}
.bold-300{
    font-weight: 300;
}
.bold-400{
    font-weight: 400;
}
.bold-500{
    font-weight: 500;
}
.bold-700{
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}   
.capitalize{
    text-transform: capitalize;
}
.ls-1{
    letter-spacing: 1px;;
}
.mtb-10{
    margin: 0 10px;
}
.mtb-30{
    margin: 0 30px;
}
.mlr-10{
    margin: 10px 0;
}
.ptb{
    padding: 10px 0;
}
.plr-10{
    padding: 0 10px;
}
.flexRow{
    display: flex;
}
.justify-sb{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.container{
    width: 900px;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
    color: #2d6675;
}
.weather {
    margin-left: 700px;
  
    
}
.project1 {
    margin-right: 700px;
}
.project2 {
    margin-left: 700px;
}
.password {
    margin-right: 700px;
}