html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather","Lato", sans-serif;
  font-weight: 100;
  /* font-weight: bold; */
}

.headerHome {
  background: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)center center;
  background-size:cover;
  height: 600px;
 

}
.headerAbout {
  background: url(https://images.unsplash.com/photo-1489533119213-66a5cd877091?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80)
    center center;
  background-size: cover;
  height: 520px;
}
.containerMe{
 text-align: center;
 font-size: 1.8rem;
 font-weight: 300;

}
.aboutMe{
  text-align: left;
}
.me{
  padding: 15px;
}
.jumbotronWork {
  background: url(https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    center center;
  background-size: cover;
  height: 400px;
}
.containerSkills {
  background: url(https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)
    center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: 400px;
 
}
.containerContact {
  background: url(https://images.unsplash.com/photo-1550330545-87c6109a81f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80)
    center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: 400px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
.headerStyle {
  font-size: 90px;
  padding: 5px;
  text-align: center;
  /* display: flex; */
}
.inPink{
    width: 380px;
    border-radius: 80px;
    margin-left: 30px;
    position: relative;
    box-shadow: 10px 9px 2px 2px rgba(15, 15, 15, 0.73);
}
.web {
  margin-top: 85px;
  font-size: 90px;
  color: #080808;
  -webkit-text-stroke: 1px #0695b9;
}
.work{
  justify-content: center;
}
.cardsContainer {
    display: flex;
    justify-content: space-evenly;
    position: static;
    flex-wrap: wrap;
    margin:20px;
    padding: 5px;
    
}
.cardsContainer2 {
  display: flex;
  justify-content: space-evenly;
  position: static;
  flex-wrap: wrap;
  margin:20px;
  padding: 5px;
   
}
.whiteColor {
    color: white;
  }
.primaryColor {
  color: #dffcf4;
}
.secondaryColor {
  color: rgb(218, 132, 185);
}
.primaryBgColor {
  background: #ebfaf6;
}
.textColor {
  color: #0695b9;
}
.textCenter {
  text-align: center;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-25 {
  font-size: 25px;
}
.font-30 {
  font-size: 30px;
}
.font-60 {
    font-size: 60px;
  }
.bold-300 {
  font-weight: 300;
}
.bold-400 {
  font-weight: 400;
}
.bold-500 {
  font-weight: 500;
}
.bold-700 {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.ls-1 {
  letter-spacing: 1px;
}
.mtb-10 {
  margin: 0 10px;
}
.mtb-30 {
  margin: 0 30px;
}
.mtb-130 {
  margin: 0 130px;
}
.mlr-10 {
  margin: 10px 0;
}
.ptb {
  padding: 10px 0;
}
.plr-10 {
  padding: 0 10px;
}
.flexRow {
  display: flex;
}
.justify-sb {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.alignCenter {
  align-content: center;
}
.container {
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: #2d6675;
}
#github, #weather {
  display: flex;
  justify-content: center;
}
.btn:hover, .nav ul li:hover {
    background: #117bff;
    cursor: pointer; 
    transition: background .5s; 
    
  }
  .list{
    display: flex;
    flex-direction: column;
  }
  .carousel {
    width: 60%;
    position: relative;
    
}

.directory, .fitness, .blog{
    width: 100%;
   
}
.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(251, 252, 253);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .linkContainer{
    display: flex;
    justify-content: space-around;
  }
@media screen and (max-width: 350px){
    .carousel {
        width: 200%;
        
    }
    
}
@media screen and (max-width: 580px) {
  html,
  body,
  .jumbotronWork,
  .containerWork,
  .aboutMePic, 
  .cardsContainer, 
  .cardsContainer2,  
  .containerContact, 
  .contactList,
  .web,
  h3 {
    flex-direction: column;
    margin: 10px;
  }
  .headerStyle, .contactPic {
    display: flex;
    flex-direction: column;
  }
  .containerSkills {
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 30px;
  }
  .list {
    font-size: 70px;
    flex-direction: column;
  }
  .contactList {
    font-size: x-large;
    width: fit-content;
    margin-top: 45px;
  }
  .containerMe {
    background-color: rgb(250, 219, 172);
    color: rgb(51, 49, 48);
  }
  .carousel {
    width: 280px;
}
.inPink, .contactPic{
    width: 200px;
    display: flex;
    flex-direction: column;
    float: left;
}
#img {
   width: 80%
}
.footer {
    display: flex;
    flex-direction: column;
    float: left;
   
  }
}
@media screen and (max-width: 780px) {
  html,
  body,
  .containerWork,
  .aboutMePic,
  .cardsContainer, 
  .cardsContainer2 {
    flex-direction: column;
  }
  button {
    width: fit-content;
  }
  .headerStyle {
    display: flex;
    flex-direction: column;
  }
  .aboutMePic {
    display: flex;
    flex-direction: column;
    float: left;
  }
  .list, .skills-List {
    font-size: x-large;
    flex-direction: column;
  }
  .contactList {
    font-size: x-large;
    margin-top: 220px;
    width: fit-content;
    color: #272423;
   
    
  }
  .containerMe {
    background-color: rgb(236, 234, 234);
    color: rgb(3, 3, 82);
  }
  .carousel {
    width: 200%;
}
.inPink, .contactPic{
    width: 300px;
    display: flex;
    flex-direction: column;
    float: left;
}
  
}
@media screen and (max-width: 992px) {
    html,
    body,
    .jumbotronWork,
    .containerWork,
    .aboutMePic {
      flex-direction: column;
    }
    .carousel {
        width: 100%;
        /* flex-direction: column; */
    }
}